.help {
  padding: 1em;
  margin: 2em;
  background-color: black;
  color: white;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

ul {
	list-style: none;
	line-height: 200%;
}

.key {
	display: inline-block;
	text-align: center;
	width: 20px;
	color: lightgray;
	text-transform: uppercase;
}
