<!doctype html>
<html ng-app="app">
<head>
</head>

    <meta charset="utf-8">
    <title>BADco. WDT</title>

    <script src="lib/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>

	<script language="javascript">
		angular.module('app', []);

		var AppCtrl = function($scope) {

			$scope.tools = [
				{ name:"Matching Positions", href:"space.html#positions", img:"img/matching-positions.png" },
				{ name:"Inertia", href:"space.html#inertia", img:"img/inertia.png" },
				{ name:"Cage", href:"space.html#cage", img:"img/cage.png" },

				{ name:"Reverse and Delay", href:"reverse-and-delay.html", img:"img/reverse-and-delay.png" },
				{ name:"Capture and Replay", href:"capture-and-replay.html", img:"img/capture-and-replay.png" },
				{ name:"Appear - Disappear", href:"appear-disappear.html", img:"img/appear-disappear.png" },
			];

			$scope.toolRows = [];
			var row = [];
			for( i in $scope.tools ) {
				row.push( $scope.tools[i] );
				if( row.length==3 ) {
					$scope.toolRows.push(row);
					row = [];
				}
			}
			$scope.toolRows.push(row);

			document.onkeydown = function(e) {
				var nr = e.keyCode-49;
				if( nr>=0 && nr<$scope.tools.length ) {
					window.location = $scope.tools[nr].href;
					return;
				}

				switch( e.keyCode ) {
					case 81: // Q
						require("nw.gui").App.quit();
					default:
						console.log("unhandled key code "+e.keyCode );
				}
			}
		}
		AppCtrl.$inject = ["$scope"];

	</script>

<body>
    <div class="container">

		<div ng-controller="AppCtrl">
			<h2>BADco, Turing & Koch</h2>
			<h1>Whatever Dance Toolbox</h1>

			<div ng-repeat="row in toolRows">
				<div class="tool" ng-repeat="tool in row">
					<a href="{{tool.href}}">
						<img src="{{tool.img}}"/><br/>
						{{tool.name}}
					</a>
				</div>
			</div>

			<div id="footer">
				This is release 1.9.1 of the BADco. Whatever Dance Toolbox.<br/>
				Produced and © 2013, Daniel Turing, Anton Koch and BADco.
			</div>
		</div>

	</div>      
</body>
</html>

