
@font-face {
	font-family: 'OpenSans';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../font/OpenSans-Semibold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../font/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSansCondensed';
	src: url('../font/OpenSans-CondLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansCondensed';
	src: url('../font/OpenSans-CondBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansCondensed';
	src: url('../font/OpenSans-CondLightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
body {
	font-family: "OpenSans";
	font-weight: normal;
	font-style: normal;

	background: #333;
	color: white;
	overflow: hidden;
	margin: 50px;
	font-size: 18pt;
}

a {
	color: #3465a4;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

h1, h2, h3 {
	color: lightgray;
	font-family: "OpenSansCondensed";
	font-weight: normal;
}

h1 {
	font-size: 32pt;
	margin-top: 0em;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
}
h2 {
	margin-bottom: 0em;
	padding-
	font-size: 26pt;
}

#video-container {
	position: absolute;
}

#canvas-container {
	z-index: -1;
}

#OSD {
	position: absolute;
	padding: 1em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24pt;
}

#footer {
	color: gray;
	font-size: 10pt;
	padding-top: 10px;
	border-top: 1px solid gray;
	position: absolute;
	bottom: 1em;
	width: 100%;
}

.tool {
	display: inline-block;
	text-align: center;
	padding: 1em;
	width: 150px;
}

.tool a {
	color: white;
	font-size: 10pt;
}
